.bet-game {
  .bet-type {
    max-width: 100%;
    overflow-x: auto;
  }


  .bet-type__list {
    padding-top: 0;
    padding-bottom: 1.071rem;

  }
}

.bet-match__game {
  .bet-match__result {
    padding-top: 0.5rem;
  }
}
