.bet-item {
  position: fixed;
  right: 0;
  bottom: 4.571rem;
  left: 0;
  z-index: 3;

  width: 100%;

  display: flex;
  //display: none;
  flex-direction: column;

  @media screen and (min-width: 1025px) {
    bottom: 0;
    width: 23.142rem;
    left: unset;
  }
}

.bet-item.active {
  height: calc(100% - 4.571rem);

  @media screen and (min-width: 1025px) {
    height: calc(100vh - 8.285rem);
  }
}

.bet-item.active .bet-item__block {
  height: auto;
  transform: scaleY(1);

  flex-grow: 1;

  overflow: hidden;
}

.bet-item__btn {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  text-decoration: none;

  appearance: none;

  font-weight: 700;
  font-family: "Poppins", "Arial", sans-serif;


  padding-left: 0;
  padding-right: 0;
  background-color: var(--pmbet-blue-dark);

  border: none;
  border-bottom: 1px solid var(--pmbet-blue-dark);


  @media screen and (min-width: 1025px) {
    position: static;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Roboto Condensed', Arial, sans-serif;
    font-weight: 700;
    border-top-left-radius: 2px;
    border-bottom: none;
    justify-content: flex-start;
    cursor: pointer;
  }
}

.bet-item__btn.active {
  display: flex;
  position: relative;
}

.bet-item__info {
  display: flex;
  align-items: center;

  font-size: 1.285rem;
  font-weight: 600;

  color: var(--pmbet-white);
  width: 50%;
  justify-content: center;
  padding-top: 0.92rem;
  padding-bottom: 0.92rem;
  padding-right: 0.87rem;
  padding-left: 0.87rem;

  @media screen and (min-width: 1025px) {
    font-weight: 700;
    font-size: 1.071rem;
    padding-top: 0.571rem;
    padding-bottom: 0.571rem;
    padding-left: 0.87rem;
    padding-right: 0.87rem;
    border-right: 1px solid var(--pmbet-blue);
  }
}

.bet-item--active {
  background-color: var(--pmbet-blue);
}

.bet-item__quantity {
  margin-right: 0.65rem;
  margin-left: 0.85rem;

  color: var(--pmbet-white-dark);

  @media screen and (min-width: 1025px) {
    font-size: 1.071rem;

    display: flex;
    flex-direction: row-reverse;

  }
}

.bet-item__price {
  color: var(--pmbet-green);

}

.bet-item__arrow {
  position: relative;

  z-index: 1;
  flex-grow: 1;

  height: 0.785rem;
  width: 1.285rem;
  flex-shrink: 0;

  svg {
    fill: var(--pmbet-white);
    transform: scale(-1);
  }

  @media screen and (min-width: 1025px) {
    position: relative;
    width: 0.85rem;
    flex-shrink: 0;
    height: 100%;
    top: unset;
    right: unset;
    transform: translate(0);
    flex-grow: 1;

    &:before {
      content: "";
      display: block;
      padding-top: 58.33%;
    }

    svg {
      max-width: 100%;
      max-height: 100%;
      transform: rotate(180deg);
      height: 0.5rem;
      width: 0.85rem;
    }
  }
}

.bet-item__name {
  color: var(--pmbet-white);
  font-size: 1.285rem;
  width: 37.03%;
  padding-top: 0.93rem;
  padding-bottom: 0.93rem;
  padding-right: 0.87rem;
  padding-left: 0.87rem;

  @media screen and (min-width: 1025px) {
    font-size: 1.071rem;
    padding-top: 0.571rem;
    padding-bottom: 0.571rem;
    padding-left: 0.87rem;
    padding-right: 0.87rem;
    border-right: 2px solid var(--pmbet-blue);
  }
}

.bet-item__block {
  position: relative;
  z-index: 1;

  height: 0;

  transform: scaleY(0);
  transform-origin: center bottom;

  display: flex;
  flex-direction: column;

  background-color: var(--pmbet-cream);

  // transition: var(--pmbet-transition);

  @media screen and (min-width: 1025px) {
    transition: var(--pmbet-transition);
  }
}

.bet-item__nav {
  position: relative;
  background-color: var(--pmbet-white-lighter);

  display: flex;
  justify-content: center;

  @media screen and (min-width: 1025px) {
    font-family: 'Roboto Condensed', Arial, sans-serif;
  }
}

.bet-item__nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  justify-content: flex-start;

  @media screen and (min-width: 1025px) {
    justify-content: center;
    width: 100%;
  }
}

.bet-item__nav__item:not(:last-child) {
  margin-right: 0.72rem;

  @media screen and (min-width: 1025px) {
    margin-right: 0.357rem;
  }
}

.bet-item__nav__btn {
  position: relative;

  display: flex;

  padding-top: 0.858rem;
  padding-right: 1rem;
  padding-bottom: 0.858rem;
  padding-left: 1rem;

  font-weight: 700;
  font-size: 1.571rem;
  color: var(--pmbet-gray-light);

  text-decoration: none;
  text-transform: uppercase;

  @media screen and (min-width: 1025px) {
    display: block;
    padding: 0.29rem 1.642rem;
    font-size: 1.071rem;
    color: var(--pmbet-gray);
    cursor: pointer;
    text-transform: lowercase;

    &:first-letter {
      text-transform: uppercase;
    }
  }
}

.bet-item__nav__btn.active {
  color: var(--pmbet-green);
}

.bet-item__nav__btn.active::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 0.214rem;
  width: 100%;
  display: block;
  background-color: var(--pmbet-green);
}

.bet-item__nav__close {
  position: relative;

  appearance: none;
  border: none;

  display: inline-flex;

  padding: 0;
  margin-left: auto;

  transform: scale(1);

  background-color: transparent;

  height: 100%;
  flex-grow: 1;

  svg {
    fill: var(--pmbet-white);
    height: 0.71rem;
    width: 1.28rem;
  }

  @media screen and (min-width: 1025px) {
    position: relative;
    width: 0.85rem;
    flex-shrink: 0;
    top: unset;
    right: unset;
    margin-left: 0;
    transform: translate(0);

    &:before {
      content: "";
      display: block;
      padding-top: 58.33%;
    }

    svg {
      max-width: 100%;
      max-height: 100%;
      height: 0.5rem;
      width: 0.85rem;
    }
  }
}

.bet-item__hint {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-top: 1.071rem;
  padding-right: 0.5rem;
  padding-bottom: 1.071rem;
  padding-left: 0.5rem;
}

.bet-item__hint__icon {
  position: relative;
  width: 1.628rem;
  flex-shrink: 0;
}

.bet-item__hint__icon::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.bet-item__hint__icon {
  margin-right: 0.657rem;
}

.bet-item__hint__icon svg {
  max-height: 100%;
  max-width: 100%;
}

.bet-item__hint__info {
  font-size: 1.142rem;
  color: var(--pmbet-blue);
}

.bet-item__column {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.bet-item__column--single .bet-item__team {
  max-height: calc(100% - 15.714rem);
}

.bet-item__column--system {
  .bet-item__team {
    max-height: calc(100% - 23.357rem);
  }

  .bet-item__panel__column:only-of-type {
    margin-left: auto;
  }
}

.bet-item__team {
  //background-color: var(--pmbet-gray-lighter);

  flex-grow: 1;

  //max-height: calc(100% - 183px);
  max-height: calc(100% - 18.285rem);
  overflow-y: auto;

  overscroll-behavior-y: contain;

  padding-bottom: 0.857rem;

  @media screen and (min-width: 1025px) {
    max-height: calc(100% - 16.071rem);
    font-family: 'Roboto Condensed', Arial, sans-serif;
    padding: 0.857rem;
    background-color: var(--pmbet-gray-lighter);
  }
}


.bet-item__team::-webkit-scrollbar {
  width: 0.357rem;
}

.bet-item__team::-webkit-scrollbar-track {
  background: transparent;
}

.bet-item__team::-webkit-scrollbar-thumb {
  background-color: var(--pmbet-white);
}

.bet-item__team__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bet-item__team__item {
  display: flex;

  overflow: hidden;

  border-radius: 2px;
  background-color: var(--pmbet-white);
}

.bet-item__team__item:not(:last-child) {
  margin-bottom: 0.142rem;

  @media screen and (min-width: 1025px) {
    margin-bottom: 0.214rem;
  }
}

.bet-item__team__info {
  display: flex;
  align-items: center;

  flex-grow: 1;

  padding-top: 0.357rem;
  padding-right: 0.607rem;
  padding-bottom: 0.357rem;
  padding-left: 0.321rem;

  @media screen and (min-width: 1025px) {
    padding: 0.214rem 0.642rem;
    align-items: flex-end;
  }
}

.bet-item__team__title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  font-size: 1.285rem;
  font-weight: 700;

  margin-right: 0.678rem;

  @media screen and (min-width: 1025px) {
    margin-right: 0;
  }
}

.bet-item__team__name {
  color: var(--pmbet-gray);

  @media screen and (min-width: 1025px) {
    font-size: .928rem;
  }
}

.bet-item__team__separator {
  color: var(--pmbet-gray-lighter--2);

  margin-right: 0.31rem;
  margin-left: 0.31rem;

  @media screen and (min-width: 1025px) {
    color: var(--pmbet-green);
    font-size: .714rem;
    margin-right: 0.357rem;
    margin-left: 0.357rem;
  }
}

.bet-item__team__total {
  margin-top: 0.1rem;

  width: 100%;

  @media screen and (min-width: 1025px) {
    margin-top: 0.214rem;
  }
}

.bet-item__team__result {
  color: var(--pmbet-gray-light);
  font-size: 1.142rem;
  font-weight: 300;

  @media screen and (min-width: 1025px) {
    font-size: 0.857rem;
  }
}

.bet-item__team__amount {
  width: 100%;
  flex-shrink: 0;

  margin-top: 0.2rem;

  display: flex;
  align-items: center;
}

.bet-item__team__amount__name {
  font-size: 1.142rem;
  font-weight: 300;
  color: var(--pmbet-gray);

  margin-right: 0.714rem;
}

.bet-item__team__amount__number {
  border: none;
  border-radius: 0.214rem;
  background-color: var(--pmbet-white-dark);

  font-size: 1.142rem;
  color: var(--pmbet-gray);

  flex-grow: 1;

  padding-top: 0.108rem;
  padding-right: 0.285rem;
  padding-bottom: 0.108rem;
  padding-left: 0.285rem;
}

.bet-item__team__ratio {
  font-weight: 700;
  font-size: 1.285rem;
  color: var(--pmbet-green);

  margin-left: auto;

  @media screen and (min-width: 1025px) {
    font-size: .928rem;
  }
}

.bet-item__team__delete {
  appearance: none;

  display: flex;

  border: none;

  width: 3.214rem;
  flex-shrink: 0;

  background-color: var(--pmbet-white-lightest);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1.214rem auto;
  background-image: url("../../images/icon/delete.svg");

  @media screen and (min-width: 1025px) {
    width: 1.571rem;
    background-size: 0.857rem auto;
    cursor: pointer;
  }
}

// ----- Bet panel -----

.bet-item__panel {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  padding-top: 1.071rem;
  padding-right: 1.142rem;
  padding-bottom: 1.357rem;
  padding-left: 1.142rem;

  background-color: var(--pmbet-cream);

  @media screen and (min-width: 1025px) {
    font-family: 'Roboto Condensed', Arial, sans-serif;
    padding: 1.071rem 1.571rem 1.928rem;
    background-color: var(--pmbet-white);
    filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, .1));
  }
}

.bet-item__panel__row {
  display: flex;
  justify-content: space-between;
}

.bet-item__panel__row:first-of-type {
  margin-bottom: 0.214rem;
}

.bet-item__panel__row--combination {
  margin-bottom: 0.428rem;

  .bet-item__panel__number__value {
    margin-right: 0.285rem;
    margin-left: 0.785rem;
  }

  .bet-item__panel__number {
    align-items: center;
  }

  .bet-item__panel__title {
    flex-shrink: 0;

    margin-right: 0;
  }
}

.bet-item__panel__column {
  width: calc(50% - 0.142rem);

  @media screen and (min-width: 1025px) {
    width: calc(50% - 0.357rem);
  }
}

.bet-item__panel__number {
  display: flex;
  width: 100%;
}

.bet-item__panel__number__value {
  border: none;
  border-radius: 0.214rem;

  padding: 0.465rem 0.464rem;

  width: 100%;

  font-size: 1.142rem;
  font-weight: 700;
  color: var(--pmbet-gray);

  background-color: var(--pmbet-white);
}

.bet-item__panel__label {
  display: flex;
  align-items: center;

  height: 100%;
}

.bet-item__panel__select {
  appearance: none;

  height: 100%;

  border: none;
  border-radius: 0.142rem;
  background-color: var(--pmbet-white);

  padding: 0.465rem 0.464rem;

  background-repeat: no-repeat;
  background-position: center right 0.285rem;
  background-size: 0.928rem auto;
  background-image: url("../../images/icon/arrow-bottom.svg");

  font-size: 1rem;

  flex-grow: 1;

  @media screen and (min-width: 1025px) {
    background-color: var(--pmbet-gray-lighter);
    padding: 0.25rem 1.225rem 0.25rem 0.5rem;
    background-position: center right 0.428rem;
    background-size: 0.714rem auto;
    font-size: 0.928rem;
    background-image: url("../../images/icon/arrow-down-green.svg");
  }
}

.bet-item__panel__title {
  margin-right: 0.785rem;

  font-size: 1.142rem;
  font-weight: 700;
  color: var(--pmbet-gray);

  text-transform: capitalize;

  @media screen and (min-width: 1025px) {
    margin-right: 0.357rem;
    font-size: .812rem;
    color: var(--pmbet-blue);
    font-weight: 300;
  }
}

.bet-item__panel__total {
  margin-bottom: 1.357rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  @media screen and (min-width: 1025px) {
    margin-bottom: 1.071rem;
    justify-content: space-between;
    gap: unset;

    &:first-of-type {
      margin-bottom: 0.357rem;
    }
  }
}

.bet-item__panel__total:nth-of-type(2) .bet-item__panel__column:nth-child(-n + 2) {
  @media screen and (min-width: 1025px) {
    //margin-top: 0.214rem;
    margin-bottom: 0.214rem;
  }
}

.bet-item__panel__total:nth-of-type(2) .bet-item__panel__column:nth-child(7n) {
  margin-top: 0.214rem;
}

.bet-item__panel__total .bet-item__panel__row:not(:last-child) {
  margin-bottom: 0.284rem;
}

.bet-item__panel__info {
  display: flex;
  align-items: center;

  min-height: 2.285rem;

  padding: 0.429rem 0.464rem;

  font-size: 1.142rem;
  font-weight: 700;

  border-radius: 0.142rem;
  background-color: var(--pmbet-white);

  color: var(--pmbet-gray);

  @media screen and (min-width: 1025px) {
    padding: 0.25rem 0.5rem;
    font-size: .928rem;
    background-color: var(--pmbet-gray-lighter);
    color: var(--pmbet-blue);
    font-weight: 300;
    min-height: unset;
  }
}

.bet-item__panel__amount {
  display: flex;
  align-items: center;
  width: 100%;
  outline: none;
  min-height: 2.285rem;

  padding: 0.429rem 0.464rem;

  font-size: 1.142rem;
  font-weight: 700;
  border-color: transparent;
  border-radius: 0.142rem;
  background-color: var(--pmbet-white);

  color: var(--pmbet-gray);

  @media screen and (min-width: 1025px) {
    padding: 0.25rem 0.5rem;
    font-size: .928rem;
    background-color: var(--pmbet-gray-lighter);
    color: var(--pmbet-blue);
    min-height: unset;
  }
}

.bet-item__panel__info--win {
  color: var(--pmbet-green);
}

.bet-item__panel__info--amount {
  font-size: 1rem;

  .bet-item__panel__value {
    font-size: inherit;
  }

  @media screen and (min-width: 1025px) {
    font-size: 0.62rem;
  }

}

.bet-item__panel__name {
  text-transform: capitalize;
  font-size: inherit;
  margin-right: 0.142rem;

  @media screen and (min-width: 1025px) {
    margin-right: 0;
    font-size: inherit;
  }
}

.bet-item__panel__value {
  font-size: 1.214rem;

  margin-left: auto;

  @media screen and (min-width: 1025px) {
    font-size: inherit;
  }
}

.bet-item__panel__value:only-child {
  margin-left: 0;
}

.bet-item__panel__accept .bet-item__panel__column {
  display: flex;
  align-items: center;
}

.bet-item__panel__trash {
  display: inline-flex;
  height: 1.95rem;
  width: 1.642rem;

  appearance: none;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  background-image: url("../../images/icon/trash.svg");
  background-color: transparent;

  border: none;

  margin-right: 1.071rem;

  @media screen and (min-width: 1025px) {
    height: 1.428rem;
    width: 1.071rem;
    margin-right: 1.071rem;
    cursor: pointer;
  }
}

.bet-item__panel__btn {
  appearance: none;
  border: none;

  display: inline-flex;
  justify-content: center;

  padding-top: 0.608rem;
  padding-right: 0.125rem;
  padding-bottom: 0.608rem;
  padding-left: 0.125rem;

  min-width: 10.714rem;

  border-radius: 0.571rem;

  text-transform: uppercase;

  font-family: "Poppins", "Arial", sans-serif;
  font-size: 1.285rem;
  font-weight: 700;
  color: var(--pmbet-white-dark);

  @media screen and (min-width: 1025px) {
    padding: 0.4rem 0.125rem;
    border-radius: 0.142rem;
    flex-grow: 1;
    text-transform: uppercase;
    color: var(--pmbet-white);
    font-size: .875rem;
    min-width: unset;
    font-family: "Roboto Condensed", "Arial", "sans-serif";
    cursor: pointer;
  }
}

.bet-item__panel__btn--fast {
  background-color: var(--pmbet-gray-light);
}


.bet-item__panel__btn--place {
  margin-left: auto;

  background-color: var(--pmbet-green);
}

.mybets__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  font-family: "Roboto", "Arial", sans-serif;

  &::-webkit-scrollbar {
    width: 0.357rem;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--pmbet-white);
  }
}

.mybets__item {
  background-color: var(--pmbet-white-lightest--3-05);

  &:not(:last-child) {
    margin-bottom: 1px;
  }

  &:first-child {
    margin-top: 1px;
  }

  @media screen and (min-width: 1025px) {
    padding-left: 0.35rem;
    padding-right: 0.35rem;
    &:not(:last-child) {
      margin-bottom: 0.21rem;
    }

    &:first-child {
      margin-top: 0.35rem;
    }
  }
}

.mybets__item--block {
  display: flex;
  align-items: center;
  background-color: var(--pmbet-blue);
  padding-right: 1.07rem;
  padding-left: 1.07rem;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;

  @media screen and (min-width: 1025px) {
    padding-left: 0.56rem;
    padding-right: 0.56rem;

    border-radius: 2px 2px 0 0;
  }
}

.mybets__item-arrow {
  position: relative;
  width: 1.14rem;
  display: inline-flex;
  flex-shrink: 0;
  height: 100%;
  margin-right: 1.07rem;
  cursor: pointer;

  &:before {
    content: "";
    display: block;
    padding-top: 56.1%;
  }

  svg {
    max-width: 100%;
    max-height: 100%;
    fill: var(--pmbet-green);
  }


  @media screen and (min-width: 1025px) {
    width: 0.85rem;
  }
}

.mybets__item-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.mybets__item-info__column {
  display: flex;
  align-items: center;
}

.mybets__item-info__title {
  font-size: 1.28rem;
  color: var(--pmbet-white);
  font-weight: 700;
  margin-right: 1.57rem;

  @media screen and (min-width: 1025px) {
    margin-right: 0.37rem;
    font-size: 1.07rem;
  }
}

.mybets__item-info__date {
  color: var(--pmbet-blue-darker);
  font-size: 1.14rem;

  @media screen and (min-width: 1025px) {
    font-size: 0.92rem;
  }
}


.mybets__item-info__title-id {
  margin-right: 0.5rem;
  font-size: 1.14rem;

  @media screen and (min-width: 1025px) {
    font-size: 0.85rem;
  }
}


.mybets__item-info__id {
  color: var(--pmbet-green);
  font-size: 1.14rem;
  @media screen and (min-width: 1025px) {
    font-size: 0.85rem;
  }

}


.mybets__item-copy {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  color: var(--pmbet-green);
  cursor: pointer;

  @media screen and (min-width: 1025px) {
    font-size: 0.71rem;
  }

}

.mybets__item-copy__icon {
  position: relative;
  display: inline-flex;
  width: 1.51rem;
  margin-left: 0.37rem;

  &:before {
    content: "";
    display: block;
    padding-top: 112%;
  }

  @media screen and (min-width: 1025px) {
    width: 1.14rem;
  }
}

.mybet-item__quantity {
  margin-left: 0.85rem;
}

.mybets__item--block__inner {
  display: flex;
  flex-direction: column;
}


.mybets__inner-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1025px) {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.21rem;
  }
}

.mybets__inner-item {
  background-color: var(--pmbet-white);

  &:not(:last-child) {
    margin-bottom: 2px;
  }
}

.mybets__inner-item__row {
  display: flex;
  flex-direction: column;
  padding-left: 0.57rem;
  padding-right: 0.57rem;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
}

.mybets__inner-item__column {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 1025px) {
    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }
}


.mybets__inner-item__column--name {
  font-size: 1.285rem;
  font-weight: 700;
  font-family: "Roboto Condensed", "Arial", "sans-serif";
  color: var(--pmbet-gray);

  span {
    color: var(--pmbet-gray-lighter--2);
  }

  @media screen and (min-width: 1025px) {
    font-size: 0.81rem;

    span {
      color: var(--pmbet-green);
    }
  }
}

.mybets__inner-item__column--status {
  font-weight: 600;

  font-family: "Poppins", "Arial", sans-serif;

  @media screen and (min-width: 1025px) {
    font-size: 0.78rem;
  }
}

.mybets__inner-item__column--status.lost {
  color: var(--pmbet-red-dark);
}

.mybets__inner-item__column--status.win {
  color: var(--pmbet-green);
}

.mybets__inner-item__column--result {
  color: var(--pmbet-gray-light);
  font-size: 1.14rem;

  @media screen and (min-width: 1025px) {
    font-size: 0.81rem;
  }
}

.mybets__inner-item__column--odds {
  font-size: 1.28rem;
  font-weight: 700;
  color: var(--pmbet-green);
  @media screen and (min-width: 1025px) {
    font-size: 0.81rem;
  }

}

.mybets__inner-item__column--icon {
  position: relative;
  width: 1.14rem;
  display: inline-flex;
  margin-right: 0.25rem;

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  svg {
    max-width: 100%;
    max-height: 100%;
  }

  @media screen and (min-width: 1025px) {
    width: 1.02rem;
    margin-right: 0;

    svg {
      width: 1.02rem;
      height: 1.02rem;
    }
  }
}

.mybets__inner-info {
  padding-top: 0.64rem;
  padding-bottom: 1.57rem;
  padding-right: 0.85rem;
  padding-left: 0.85rem;

  @media screen and (min-width: 1025px) {
    background-color: var(--pmbet-white);
    padding-right: 0.64rem;
    padding-left: 0.64rem;
    padding-top: 0.35rem;
    padding-bottom: 0.5rem;
    border-radius: 0 0 2px 2px;
  }
}


.mybets__inner-info__list {
  padding: 0;
  margin: 0;
  list-style: noen;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.57rem;
}

.mybets__inner-info__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 0.71rem;
  }

}

.mybets__inner-info__item-name {
  font-size: 1.14rem;
  font-weight: 700;
  color: var(--pmbet-gray);

  @media screen and (min-width: 1025px) {
    font-size: 0.81rem;
    color: var(--pmbet-blue);
  }
}

.mybets__inner-info__item-total {
  font-family: "Roboto Condensed", "Arial", "sans-serif";
  font-size: 1.214rem;
  color: var(--pmbet-gray);
  font-weight: 700;

  span {
    color: var(--pmbet-green);
  }

  @media screen and (min-width: 1025px) {
    font-size: 0.81rem;
    color: var(--pmbet-blue);
  }
}

.mybets__inner-info__item__green {
  .mybets__inner-info__item-name, .mybets__inner-info__item-total {
    color: var(--pmbet-green);
  }
}

.mybets__inner-info__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", "Arial", sans-serif;

  @media screen and (min-width: 1025px) {
    flex-direction: row;
    font-family: "Roboto", "Arial", sans-serif;
  }

}

.mybets__inner-info__button {
  appearance: none;
  border: none;
  min-width: 21.42rem;
  height: 3.14rem;
  background-color: var(--pmbet-green);

  display: inline-flex;
  align-items: center;
  justify-content: center;

  border-radius: 2px;
  color: var(--pmbet-white);
  font-weight: 700;
  font-size: 1.285rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  cursor: pointer;
  letter-spacing: -0.01em;

  &:not(:last-child) {
    margin-bottom: 1.57rem;
  }

  @media screen and (min-width: 1025px) {
    font-size: 0.92rem;
    padding: 0;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    justify-content: space-between;
    height: 1.92rem;

    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 0.28rem;
    }

  }
}


.mybets__inner-info__button-cash {
  @media screen and (min-width: 1025px) {
    min-width: 10.64rem;
  }
}

.mybets__inner-info__button-cancel {
  @media screen and (min-width: 1025px) {
    min-width: 9.78rem;
  }
}

.mybets__inner-info__button-name {
  margin-right: 1.35rem;

  @media screen and (min-width: 1025px) {
    margin-right: 3px;
  }
}

.mybets__inner-info__button-price {
  @media screen and (min-width: 1025px) {
    span {
      font-size: 0.71rem;
    }
  }
}
