.casino {
  background-color: var(--pmbet-cream);

  height: calc(100vh - 7.714rem);
  overflow-y: auto;

  padding-top: 0.714rem;
}

.casino-block {
  padding-right: 0.714rem;
  padding-left: 0.714rem;
}

// ----- Casino advertising
.casino-advertising {
  max-width: calc(100% + 0.714rem);
  overflow-x: auto;

  width: calc(100% + 0.714rem);
}

.casino-advertising .bet-advertising__list {
  //max-width: 100%;
  //width: calc(100% + 1.571rem);
  //max-width: calc(100% + 1.571rem);
  //overflow-x: auto;

  display: flex;
  flex-direction: row;

  padding-bottom: 0;

  padding-right: 0;
  padding-left: 0;
}

.casino-advertising .bet-advertising__list::after {
  content: "1";
  opacity: 0;
  height: 0;
  width: 0;
  visibility: hidden;
}

.casino-advertising .bet-advertising__item {
  width: 12.857rem;
  flex-shrink: 0;

  margin-right: 0.714rem;
  margin-bottom: 0;
}

.casino-advertising .bet-advertising__item::before {
  padding-top: 33.333%;
}
// ----- Casino filter -----

.casino-filter {
  padding-top: 1.142rem;
  padding-bottom: 1.142rem;
}

.casino-filter__select {
  margin-left: 1.5rem;
}

.casino-filter__dropdown .dropdown__list {
  padding-right: 1.928rem;
}

.casino-filter__dropdown .dropdown__arrow {
  //right: auto;
  //left: 0.714rem;

  width: 0.928rem;
}

// ----- Casino game -----

.casino-game {

}

.casino-game__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
}

.casino-game__item {
  position: relative;
  width: calc(100% / 3 - 0.5rem);

  margin-bottom: 1.071rem;
}

.casino-game__item:not(:nth-child(3n)) {
  margin-right: 0.75rem;
}

.casino-game__item:hover .casino-game__play, .casino-game__play.active {
  transform: scale(1);
  visibility: visible;
}


.casino-game__item.new {
  overflow: hidden;
}

.casino-game__item.new::after {
  content: "new";
  position: absolute;
  top: 0;
  left: -45%;
  z-index: 1;

  display: flex;
  justify-content: center;
  width: 100%;

  transform: rotate(-45deg) translateY(81%);

  padding-top: 0.36rem;
  padding-bottom: 0.36rem;

  font-size: 1.142rem;
  font-weight: 700;
  font-family: 'Roboto', Arial, sans-serif;
  color: var(--pmbet-white);
  text-transform: uppercase;
  background-color: var(--pmbet-red);
}

.casino-game__item.popular::before,
.casino-game__item.recently::before {
  position: absolute;
  top: -0.285rem;
  left: -0.142rem;
  z-index: 1;
  width: 100%;
  max-width: 10.428rem;

  padding-top: 0.142rem;
  padding-right: 0.5rem;
  padding-bottom: 0.142rem;
  padding-left: 0.5rem;

  font-weight: 700;
  font-size: 1.071rem;
  color: var(--pmbet-white);

  background-repeat: no-repeat;
  background-size: auto 100%;
}

.casino-game__item.popular::before {
  content: "Most Popular";
  background-image: url("../../images/icon/popular-bg.svg");
}

.casino-game__item.recently::before {
  content: "Recently Played";
  background-image: url("../../images/icon/recently-bg.svg");
}

.casino-game__item .bet-rate__nav__link--favorite {
  position: absolute;
  top: 0.285rem;
  right: 0.214rem;
  z-index: 3;

  width: 0.857rem;
}

.casino-game__item .bet-rate__nav__link--favorite svg {
  fill: var(--pmbet-white);
  stroke: var(--pmbet-white);
}

.casino-game__item .bet-rate__nav__link--favorite.active svg {
  fill: var(--pmbet-yellow);
  stroke: var(--pmbet-yellow);
}

.casino-game__img {
  position: relative;
  width: 100%;

  border-radius: 0.285rem 0.285rem 0 0;
  overflow: hidden;
}

.casino-game__img::before {
  content: "";
  display: block;
  padding-top: 74.193%;
}

.casino-game__img img {
  display: block;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.casino-game__name {
  font-size: 1rem;
  font-weight: 700;
  color: var(--pmbet-blue);
  background-color: var(--pmbet-white);

  text-align: center;

  border-radius: 0 0 0.285rem 0.285rem;

  padding-top: 1px;
  padding-right: 0.5rem;
  padding-bottom: 1px;
  padding-left: 0.5rem;
}

.casino-game__play {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

  padding-top: 0.214rem;

  visibility: hidden;

  transform-origin: center center;
  transform: scale(0);

  transition: var(--pmbet-transition);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--pmbet-black-light-85);
}

.casino-game__title {
  font-weight: 700;
  font-size: 1.142rem;
  color: var(--pmbet-white);

  margin-bottom: 1rem;
}

.casino-game__visit {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  flex-shrink: 0;
}

.casino-game__btn {
  appearance: none;
  text-decoration: none;

  display: flex;
  justify-content: center;

  width: 60.37%;
  flex-shrink: 0;

  padding-top: 0.571rem;
  padding-right: 0.5rem;
  padding-bottom: 0.571rem;
  padding-left: 0.5rem;

  border: none;
  border-radius: 0.285rem;

  font-weight: 700;
  font-size: 1.071rem;
  color: var(--pmbet-white);
  text-transform: uppercase;

  background-color: transparent;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15);
}

.casino-game__now {
  background-color: var(--pmbet-green-light);

  margin-bottom: 0.642rem;
}

.casino-game__practise {
  border: 2px solid var(--pmbet-white);
}

.casino-game__more {
  display: flex;
  justify-content: center;

  margin-top: auto;

  padding-top: 1.642rem;
  padding-bottom: 2.8rem;
}
