.header {
  height: 3.857rem;
  flex-shrink: 0;
  overflow: hidden;
  background-color: var(--pmbet-blue);

  @media screen and (min-width: 1025px){
    order: -2;
    border-bottom: 1px solid var(--pmbet-blue-dark);
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  height: 100%;

  @media screen and (min-width: 1025px){
    align-items: center;
  }
}

.header__burger {
  margin-right: 0.4rem;
}

.header__burger .img-container {
  justify-content: flex-start;
}

.header__logo {
  margin-right: 0.5rem;
  cursor: pointer;

  @media screen and (min-width: 1025px){
    margin-right: 0.71rem;
  }
}

.header__item {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__nav {
  align-self: stretch;

  margin-left: auto;

  @media screen and (min-width: 1025px){
    margin-left: 0;
  }
}

.header__user {
  margin-left: auto;
  align-self: stretch;

  @media screen and (min-width: 1025px){
    margin-left: 0;
  }
}


.headerSkeletons {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  & > div {
    height: 1.7rem;
    width: 4rem;
    margin: 0 0.7rem;
  }

  & > div:last-child {
    margin-left: 2rem;
  }
}

.balanceSkeleton { 
  height: 1rem;
  width: 3rem;
 }

 .currencySkeleton {
  height: 1rem;
  width: 1.5rem;
  margin-left: 0.5rem;
 }

 .userSkeleton {
   height: 0.8rem;
   width: 3.2rem;
   margin-bottom: 3px;
 }

 .userInfo__deposit {
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .userInfoDeposit__button {
   width: 6.25rem;
   height: 1.875rem;
   text-align: center;
   border: none;
   outline: none;
   background-color: var(--pmbet-green);
   font-size: 0.875rem;
   font-weight: 700;
   border-radius: 2px;
   overflow: hidden;
   text-transform: uppercase;
   color: var(--pmbet-white);
   cursor: pointer;

   @media screen and (max-width: 1024px){
      width: max-content;
     padding: 0 0.5rem;
   }
 }

 .header__config{
   @media screen and (min-width: 1025px){
     margin-left: auto;
   }
 }


 .config__item{
   @media screen  and (min-width: 1025px) {
     &:first-child{
       margin-right: 2.1rem;
     }
   }
 }