.live-casino {
  background-color: var(--pmbet-cream);

  padding-top: 1.785rem;
  //height: calc(100vh - 7.714rem);
  //overflow-y: auto;

  .bet-rate__live__score {
    margin-right: 0.357rem;
  }
}

.live-casino__row {
  display: flex;
  flex-direction: column;

  padding-top: 1.8rem;
  //padding-bottom: 3.928rem;
}

.live-casino__row--game {
  display: block;

  padding-top: 0;
}

.live-casino__row .casino-game__load {
  padding-top: 0.572rem;
  padding-right: 3.339rem;
  padding-bottom: 0.572rem;
  padding-left: 3.339rem;

  border-radius: 0.285rem;

  text-transform: capitalize;
}

.live-casino__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.live-casino__column:not(.live-casino__column--casino) {
  flex-shrink: 0;
}

.live-casino__column--casino {
  width: auto;
  flex-grow: 1;
}

.live-casino__category {
  display: flex;
  align-items: center;

  margin-bottom: 1.214rem;
}

.live-casino__category__icon {
  position: relative;
  width: 2.357rem;

  margin-right: 0.471rem;
}

.live-casino__category__icon::before {
  content: "";
  display: block;
  padding-top: 88.63%;
}

.live-casino__category__icon svg {
  max-height: 100%;
  max-width: 100%;

  fill: var(--pmbet-gray-dark);
}

.live-casino__category__title {
  font-size: 1.857rem;
  font-weight: 700;
  color: var(--pmbet-gray-dark);

  text-transform: uppercase;
}

.live-casino__match {
  display: flex;
  flex-direction: column;
  align-self: stretch;

  flex-grow: 1;

  width: 100%;
}

.live-casino__match .bet-match__list {
  flex-grow: 1;
}

.live-casino__match .bet-match__item {
  border-radius: 0.285rem;

  background-size: cover;
}

.live-casino__match .bet-match__item:not(:last-of-type) {
  margin-bottom: 0.642rem;
}

.live-casino__match .bet-match__header {
  padding-top: 0.275rem;
  padding-right: 0.357rem;

  margin-bottom: 0.2rem;
}

.live-casino__match .bet-match__country {
  margin-left: 0.714rem;
}

.live-casino__match .bet-match__name {
  font-weight: 300;
  color: var(--pmbet-white-lighter--2-09);
}

.live-casino__match .bet-rate__nav__list {
  margin-left: auto;
}

.live-casino__match .bet-rate__set {
  padding-right: 0.357rem;
  padding-bottom: 0.357rem;
  padding-left: 0.357rem;
}

.live-casino__match .bet-rate__set__info {
  display: flex;
  flex-direction: column;
  align-self: stretch;
}

.live-casino__match .bet-rate__set__team {
  color: var(--pmbet-white-light--2);
}

.live-casino__match .bet-rate__set__team:first-of-type {
  margin-bottom: 0.3rem;
}

.live-casino__match .bet-rate__set__rate {
  margin-top: auto;
}

.live-casino__match .bet-rate__live__score {
  color: var(--pmbet-white-light--2);
}

.live-casino__match .bet-rate__set__btn {
  width: 4.142rem;

  padding-top: 0.711rem;
  padding-bottom: 0.711rem;

  background-color: var(--pmbet-white-lightest--2);
}

.live-casino__match .bet-rate__set__btn.active {
  //background-size: ;
  background-position: top 0.285rem right 0.285rem;
  background-size: 0.928rem auto;
}

.live-casino__match .bet-rate__live__score {
  display: flex;
  flex-direction: column;

  align-self: stretch;
  justify-content: space-between;
}

.live-casino__match .bet-rate__live__num {
  text-align: right;
}

.live-casino__match .bet-rate__live__num:first-child {
  margin-bottom: auto;
}

.live-casino__match .bet-rate__live__time {
  margin-top: auto;
}

.live-casino__match .bet-rate__set__number {
  color: var(--pmbet-gray-light);
}

.live-casino__match .bet-rate__set__coefficient {
  color: var(--pmbet-green);

  font-size: 1.214rem;
}

.live-casino__advertising {
  display: flex;
  flex-direction: column;

  flex-grow: 1;

  width: 100%;
}

.live-casino__advertising .casino-game__list {
  flex-grow: 1;
}

.live-casino__advertising .casino-game__item:nth-child(n) {
  width: calc(100% / 3 - 0.5rem);

  margin-right: 0;
  margin-bottom: 1.071rem;
}

.live-casino__advertising .casino-game__item:not(:nth-of-type(3n)) {
  margin-right: 0.75rem;
}

//.live-casino__advertising .casino-game__item:nth-last-of-type(-n + 2) {
//  margin-bottom: 0;
//}

.live-casino__advertising .casino-game__img::before {
  padding-top: 74.193%;
}

.live-casino__advertising .casino-game__name {
  font-size: 1rem;
  color: var(--pmbet-gray);

  padding-top: 0;
  padding-bottom: 0;
}

.live-casino__row--game .live-casino__category {
  justify-content: center;
}

.live-casino__list {
  margin: 0;
  padding: 0;
  list-style: none;

  width: 100%;
}

.live-casino__list .casino-game__list {
  width: 100%;
}
