.panel {
  background-color: var(--pmbet-blue);

  font-family: "Poppins", "Arial", sans-serif;

  height: 4.571rem;
  flex-shrink: 0;

  margin-top: auto;

  @media screen and (min-width: 1025px) {
    order: -1;
    height: 3.93rem;
    margin-top: 0;
  }
}

.panel__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  height: 100%;

  max-width: 100%;

  @media screen and(max-width: 1024px) {
    overflow-x: auto;
  }


}

.panel__item {
  display: flex;
  align-self: stretch;
  flex-grow: 1;
  text-decoration: none;
}

.panel__item.panel__item--language {
  width: 143px;
  position: relative;
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

.panel__item.panel__item--language .panel__btn {
  justify-content: center;
}

.panel__btn--active {
  background-color: var(--pmbet-blue-dark);
}

.panel__link {
  position: relative;
  align-self: stretch;

  text-decoration: none;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-grow: 1;

  padding-top: 0.5rem;
  padding-right: 1.8rem;
  padding-left: 1.8rem;

  cursor: pointer;

  color: var(--pmbet-gray-light);
  border-right: 1px solid var(--pmbet-blue-dark);

  @media screen and (min-width: 1025px) {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0;
  }

  @media screen and (min-width: 1701px) {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

.panel__link svg {
  fill: var(--pmbet-gray-light);
}

//.panel__link.active {
//  background-color: var(--pmbet-blue-dark);
//
//  color: var(--pmbet-green);
//}
//
//.panel__link.active::after {
//  content: "";
//  position: absolute;
//  top: 0;
//  right: 0;
//  left: 0;
//
//  background-color: var(--pmbet-green);
//
//  width: 100%;
//  height: 0.357rem;
//}
//
//.panel__link.active svg {
//  fill: var(--pmbet-green);
//}

.panel__item--active .panel__link {
  background-color: var(--pmbet-blue-dark);

  color: var(--pmbet-green);
}

.panel__item--active .panel__link {
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    background-color: var(--pmbet-green);

    width: 100%;
    height: 0.357rem;
  }


  @media screen and (min-width: 1025px) {
    &:after {
      content: none;
    }

    border-bottom: 0.214rem solid var(--pmbet-green);

  }
}

.panel__item--active .panel__link svg {
  fill: var(--pmbet-green);
}

.panel__item--active {
  position: sticky;
  left: 0;
  right: 0;
  z-index: 1;
}

.panel__link.panel__link--more .panel__icon {
  width: auto;
  min-width: 1.35rem;
}

.panel__link.panel__link--more .panel__icon svg {
  height: 100%;
  width: 100%;
}

.panel__icon {
  position: relative;
  width: 2.214rem;
  height: 1.814rem;

  margin-bottom: 0.1rem;

  @media screen and (min-width: 1025px) {
    margin-bottom: 0.35rem;
    min-width: 1.21rem;
    width: 100%;
    height: 1.42rem;
  }
}

.panel__icon svg {
  max-height: 100%;
  max-width: 100%;
}

.panel__name {
  font-weight: 600;
  font-size: 0.857rem;
  flex-shrink: 0;

  white-space: nowrap;

  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: 1025px) {
    font-size: 0.78rem;
  }
}

.panel__quantity {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-right: 0.35rem;
  padding-bottom: 2px;
  padding-left: 0.35rem;

  height: 100%;

  font-weight: 700;
  font-size: 0.714rem;
  color: var(--pmbet-white);
}

.panel__btn {
  display: flex;
  align-items: center;

  appearance: none;

  flex-grow: 1;

  border: none;
  background-color: transparent;

  color: var(--pmbet-white);

  padding-right: 2.5rem;
  padding-left: 2.5rem;

  cursor: pointer;
}

.panel__country {
  position: relative;
  width: 1.85rem;

  border-radius: 0.21rem;
  overflow: hidden;

  margin-right: 0.42rem;

  &:before {
    content: "";
    display: block;
    padding-top: 65.38%;
  }

}


.panel__country img {
  max-height: 100%;
  max-width: 100%;
}

.panel__language {
  font-weight: 700;
  font-size: 1rem;

  text-transform: uppercase;

  margin-right: 0.42rem;
}


.panel-more {
  position: absolute;
  top: 3.39rem;
  right: 0;
  left: 0;
  z-index: 2;
  width: 10.785rem;
  padding-top: 0.857rem;
  padding-right: 1.785rem;
  padding-bottom: 1.357rem;
  padding-left: 1.785rem;
  background-color: var(--pmbet-blue-dark);
}


.panel-more__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 1.214rem;
}


.panel-more__item:not(:last-child) {
  margin-bottom: 1.42rem;
}


.panel-more__link {
  font-weight: 600;
  color: var(--pmbet-gray-light);
  text-decoration: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  display: flex;

  @media screen and (min-width: 1025px) {
    font-size: .714rem;
  }
}

.panel-more__link--main {
  font-size: 0.78rem;
  text-transform: uppercase;

}


.panel__item--more {
  position: relative;
}

.panel__item--more .panel__link--active {
  border-bottom: none;
}

.panel__link--active {
  background-color: var(--pmbet-blue-dark);
  color: var(--pmbet-green);
}

.panel-more__nav {
  display: flex;
  margin-bottom: 1.5rem;
}

.panel-more__social {
  position: relative;
  width: 1.285rem;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 0.642rem;
  }

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  svg {
    max-height: 100%;
    max-width: 100%;
    fill: var(--pmbet-gray-light);
  }

}


.panel-more {
  .popup__rule {
    margin-left: 0;
  }


  .popup__rise {
    width: 2.071rem;
    position: relative;
    margin-right: 0.571rem;

    svg {
      max-height: 100%;
      max-width: 100%;
      fill: var(--pmbet-blue-lighter);
    }
  }


  .popup__security {
    text-align: left;
    margin-right: 0;
    font-size: 0.64rem;
  }

}


.panel__btn {
  .panel-dropdown {
    transition: var(--pmbet-transition);
  }
}

.panel-language {
  position: absolute;
  top: 3.39rem;
  right: 0;
  left: 0;
  z-index: 2;
  background-color: var(--pmbet-blue-dark);
}

.panel-language__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.panel-language__link {
  padding: 1.142rem 2.5rem 1.321rem;
  color: var(--pmbet-white);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.panel-language__link {
  .panel__language {
    margin-right: 0;
    min-width: 2.958rem;
  }
}
