html {
  box-sizing: border-box;

  font-size: 14px;
  //font-size: 3.381vw;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
}

.wrapper-outer {
  display: flex;
  flex-direction: column;

  // for old browsers
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.wrapper {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;

  height: 100%;

  display: flex;
  flex-direction: column;
}

.footer {
  flex-shrink: 0;
}

.svg-sprite {
  display: none;
}
