.flags {
  background-image:url('./../../assets/images/flags.png');
  background-repeat:no-repeat;
  background-size: 100% 49494%;
  display: inline-block;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  box-sizing: content-box;
  border-radius: 5px;
}

.flag-SW {background-position:center 0.2287%}
.flag-CN {background-position:left 0.4524%}
.flag-FR {background-position:center 0.6721%}
.flag-EN {background-position:center 0.8958%}

.flags.ff-sm {width: 18px; height: 11px}
.flags.ff-md {width: 27px; height: 17px}
.flags.ff-lg {width: 2.25rem; height: 1.375rem}
.flags.ff-xl {width: 2.8rem; height: 1.7rem}
