.popup-forgot {
  .popup__form {
    margin-bottom: 1.8rem;
  }

  .popup-forgot__submit {
    display: flex;
    justify-content: center;
  }

  .popup__btn {
    min-width: 13.714rem;
  }
}

.popup-forgot__caption {
  font-size: 1.428rem;
  font-weight: 700;
  color: var(--pmbet-gray);

  text-align: center;

  margin-bottom: 2.428rem;
}

.popup-forgot__submit {
  display: flex;
  justify-content: center;
}


