.popup-winner {
    font-family: 'Poppins', sans-serif;
}

.popup-winner__inner{
    @media screen and (min-width: 1025px){
        min-height: 27.428rem
    }
}

.popup-winner__title {
    font-family: inherit;
    font-size: 1.7142rem;
    font-weight: 600;
    line-height: 2.5rem;
    text-transform: capitalize;
    letter-spacing: 0.03rem;

    color: var(--pmbet-blue);

    padding: 0 3.2143rem 0 3.0714rem;
    margin-bottom: 1.6rem;

    @media screen and (min-width: 1025px){
        font-size: 1.571rem;
        text-align: center;
        margin-bottom: 0.5rem;
        letter-spacing: unset;
        padding:0;
        line-height: unset;

    }
}

.popup-winner__desc {
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0.011rem;

    color: var(--pmbet-gray);

    padding: 0 3.2143rem 0 3.0714rem;
    margin-bottom: 1.5rem;

    @media screen and (min-width: 1025px){
        margin-bottom: 1.071rem;
        text-align: center;
        padding: 0;
        letter-spacing: unset;


    }
}

.popup-winner__img-box {
    position: relative;
    width: 81.013%;

    margin-bottom: 2.1428rem;

    @media screen and (min-width: 1025px){
        width: calc(100% + 0.714rem);
        margin-bottom: 1.714rem;
        margin-left: -0.357rem;
    }
}

.popup-winner__img-box::after {
    content: '';
    display: block;
    padding-top: 37.5%;
}

.popup-winner__img-box img {
    object-fit: cover;
    object-position: center;
}
