.popup-create {
  @media screen and (max-width: 1024px){
    width: 100%;
    height: 100%;
  }

  .popup__block {
    padding-top: 3.428rem;

    @media screen and (min-width: 1025px){
      min-height: 35.713rem;
      padding-top: 1.785rem;
    }
  }

  .popup-forgot__submit {
    display: flex;
    justify-content: center;
  }

  .popup__btn {
    min-width: 13.714rem;
  }
}

.popup-create__line {
  display: flex;
}

.popup-create__code {
  width: 4rem;
  flex-shrink: 0;

  margin-right: 0.357rem;

  input {
    //padding-top: 1.142rem;
    padding-right: 0.714rem;
    //padding-bottom: 1.142rem;
    padding-left: 0.714rem;

    //height: 3.285rem;

    font-size: 1rem;
  }

  @media screen and (min-width: 1025px){
    width: 3.5rem;


    input{
      padding: 0.822rem 0.785rem;
      font-size: 0.857rem;
    }
  }
}

.popup-create__code:nth-child(n) {

  @media screen and (max-width: 1024px){
    margin-bottom: 0;
  }


}

.popup-create__tel {
  flex-grow: 1;
}

.popup-create__accept {
  display: flex;
  justify-content: center;
}
