.popup-document {
  @media screen and (max-width: 1024px){
    height: 100%;
  }

  .popup__block {
    padding-top: 3.428rem;

    @media screen and (min-width: 1025px){
      min-height: 35.713rem;
      padding-top: 1.785rem;
    }
  }

  .popup-forgot__submit {
    display: flex;
    justify-content: center;
  }

  .popup__btn {
    min-width: 13.714rem;
  }
}
