.withdraw {
  flex-direction: column;
  overflow: hidden;
  touch-action: none;
  background-color: var(--pmbet-cream);
  font-family: "Poppins", "Arial", sans-serif;
  width: 100%;
  height: 100%;

  @media screen and (min-width: 1025px) {
    height: 90.679%;
    width: 88.75%;
  }
}

.withdraw__title-icon {
  display: block;
  position: relative;

  width: 2.173rem;
  margin-right: 0.685rem;

  &::after {
    content: "";
    display: block;
    padding-top: 85.44%;
  }
}

.withdraw__title-icon svg {
  max-height: 100%;
  max-width: 100%;
  fill: var(--pmbet-gray);
  stroke: var(--pmbet-gray);
}

.withdraw__title-icon svg path:not(:first-child) {
  fill: var(--pmbet-gray);
}

.withdraw__title-icon svg path:not(:last-child) {
  fill: var(--pmbet-gray);
}

.withdraw__title-icon svg path:last-child {
  stroke: var(--pmbet-gray);
}

.withdraw__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0.614rem;
  margin: 0;

  @media screen and (min-width: 1025px) {
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0;
    height: 100%;
    max-height: 100%;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.357rem;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--pmbet-white);
    }
  }
}

.withdraw__list.passive {
  display: none;
}

.withdraw__item {
  width: 31.439%;
  margin-bottom: 0.564rem;

  &:not(:nth-child(3n+3)) {
    margin-right: calc((100% - 94.317%) / 2);
  }

  @media screen and (min-width: 1025px) {
    margin-bottom: 0;
    width: 100%;
    &:not(:nth-child(3n+3)) {
      margin-right: 0;
    }

    &:not(:last-child) {
      margin-bottom: 1.285rem;
    }
  }
}

.withdraw__link {
  display: block;
  text-decoration: none;

  @media screen and (min-width: 1025px) {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
}

.withdraw__img-container {
  position: relative;
  width: 100%;

  background-color: var(--pmbet-white);

  border-bottom: 1px solid var(--pmbet-black-03);

  @media screen and (min-width: 1025px) {
    border: none;

    .img-container {
      padding-top: 0.357rem;
      padding-bottom: 0.357rem;
    }
  }
}

.withdraw__img-container::before {
  content: "";
  display: block;
  padding-top: 44%;

  @media screen and (min-width: 1025px) {
    padding-top: 21.26%;
  }

}

.withdraw__img_voda {
  padding: 0.428rem;

  @media screen and (min-width: 1025px) {
    padding-top: 0.357rem;
    padding-bottom: 0.357rem;
    padding-right: 0;
    padding-left: 0;
  }
}

.withdraw__img-container img {
  max-height: 100%;
  max-width: 100%;
}

.withdraw__img_voda img {
  //width: 88.709%;
  //height: auto;
}

.withdraw__img_hola img {
  width: 89.427%;
  height: auto;

  @media screen and (min-width: 1025px) {
    width: auto;
    height: auto;
  }
}

.withdraw__img_air img {
  width: 80.645%;
  height: auto;

  @media screen and (min-width: 1025px) {
    width: auto;
    height: auto;
  }
}

.withdraw__img_tigo img {
  width: 88.709%;
  height: auto;

  @media screen and (min-width: 1025px) {
    width: auto;
    height: auto;
  }
}

.withdraw__img_pm img {
  width: 65.185%;
  height: auto;

  @media screen and (min-width: 1025px) {
    width: auto;
    height: auto;
  }
}

.withdraw__img_visa img {
  width: 82.258%;
  height: auto;

  @media screen and (min-width: 1025px) {
    width: auto;
    height: auto;
  }
}

.withdraw__title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  // text-transform: capitalize;
  text-align: center;

  color: var(--pmbet-white);
  background-color: var(--pmbet-gray);
  border-top: 1px solid var(--pmbet-white);

  width: 100%;

  padding-top: 0.571rem;
  padding-right: 0.25rem;
  padding-bottom: 0.571rem;
  padding-left: 0.25rem;

  @media screen and (min-width: 1025px) {
    font-size: 0.857rem;
    font-weight: normal;
    padding: 0.357rem;
    border: none;
    line-height: normal;
  }
}

.withdraw__title.withdraw__title_small {
  font-size: 0.786rem;
}

.withdraw__sign-content {
  display: none;
  width: 100%;
  padding: 0.928rem 0 1.428rem;

  background-color: var(--pmbet-white);

  @media screen and (min-width: 1025px) {
    padding: 1.285rem 1.285rem 1.571rem;
    margin-bottom: 1.285rem;
  }
}

.withdraw__sign-content.active {
  display: block;
}

.withdraw__sign-icon-box {
  position: relative;
  width: 7.857rem;
  height: 1.928rem;

  display: inline-flex;

  margin-bottom: 0.1rem;
  margin-left: 1.214rem;

  @media screen and (min-width: 1025px) {
    width: 11.428rem;
    margin-bottom: 0.928rem;
    margin-left: 0;
    height: auto;

    .img-container {
      justify-content: flex-start;
    }
  }
}

.withdraw__sign-icon-box::before {
  content: "";
  display: block;
  padding-top: 24.54%;

  @media screen and (min-width: 1025px) {
    padding-top: 30%;
  }
}

.withdraw__sign-icon-box img {
  max-height: 100%;
  max-width: 100%;
}

.withdraw__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.714rem;

  @media screen and (min-width: 1025px) {
    margin: 0;
    flex-direction: row;
    align-items: flex-start;
  }
}

.withdraw__label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media screen and (min-width: 1025px) {
    margin-right: 1.285rem;
  }
}

.withdraw__input {
  display: block;

  font-size: 0.857rem;
  font-weight: 600;
  line-height: 1.285rem;
  text-transform: capitalize;
  letter-spacing: .028rem;

  width: 100%;
  padding: 0.742rem 0.621rem;

  color: var(--pmbet-gray);
  background-color: var(--pmbet-white-lighter);
  border: none;
  outline: none;

  @media screen and (min-width: 1025px) {
    display: flex;
    align-items: center;
    color: var(--pmbet-blue-darker);
    height: 2.857rem;
    padding-right: 0.857rem;
    padding-left: 0.857rem;
    letter-spacing: normal;
    line-height: normal;
  }
}

.withdraw__input::placeholder {
  color: var(--pmbet-gray-5);
}

.withdraw__input.withdraw__input_num {
  margin-bottom: 1.42rem;

  @media screen and (min-width: 1025px) {
    margin-bottom: 0;
  }
}

.withdraw__input.withdraw__input_amount {
  position: relative;
}

.withdraw__input-amount-text {
  display: block;

  font-size: 0.714rem;
  font-weight: 600;
  line-height: 1.142rem;
  letter-spacing: 0.015rem;

  color: var(--pmbet-gray);

  @media screen and (min-width: 1025px) {
    padding-top: 0.357rem;
    text-align: right;
    font-size: 0.714rem;
    line-height: normal;
    letter-spacing: normal;
    color: var(--pmbet-gray-5);
  }
}

.withdraw__form-btn {
  display: block;

  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: uppercase;

  margin-top: 1.571rem;
  width: 38.071%;
  padding: 0.714rem 0;
  border-radius: 0.142rem;

  background-color: var(--pmbet-green);
  color: var(--pmbet-white);
  border: none;
  outline: none;

  @media screen and (min-width: 1025px) {
    position: relative;
    appearance: none;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding-right: 0.714rem;
    padding-left: 0.714rem;
    padding-top: 0;
    padding-bottom: 0;

    margin-top: 0;

    border-radius: 0.142rem;

    height: 2.857rem;
    min-width: 10.714rem;
    width: auto;

    color: var(--pmbet-white-dark);
    line-height: normal;

    cursor: pointer;

  }
}

.withdraw__form-btn:disabled {
  opacity: 0.5;
}

.withdraw__bank {
  display: block;

  height: 100%;
  max-height: calc(100% - 7.642rem);

  overflow-y: auto;

  @media screen and (min-width: 1025px) {
    padding-top: 1.285rem;
    padding-bottom: 1.285rem;

    height: auto;
    max-height: unset;

    overflow: visible;

    margin-bottom: 1.285rem;

    background-color: var(--pmbet-white);
  }
}

.withdraw__bank-list {
  font-family: "Poppins", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.withdraw__bank-card {
  position: relative;
  padding: 0.957rem 0;
  background-color: var(--pmbet-white);

  @media screen and (min-width: 1025px) {
    padding: 0;
    display: flex;
  }
}

.withdraw__bank-card::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0.142rem;
  background-image: linear-gradient(to bottom, var(--pmbet-black-03) 50%, var(--pmbet-white-6) 50%);
}

.withdraw__bank-card-inner {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;

  @media screen and (min-width: 1025px) {
    width: 39.15%;
    flex-shrink: 0;
  }
}

.withdraw__bank-logo {
  position: relative;
  width: 28.019%;

  @media screen and (min-width: 1025px) {
    width: 8.642rem;
    flex-shrink: 0;
    margin-right: 3.642rem;
  }
}

.withdraw__bank-logo::before {
  content: '';
  display: block;
  padding-top: 31.192%;

  @media screen and (min-width: 1025px) {
    padding-top: 54.54%;;
  }
}

.withdraw__bank-logo .img-container {
  justify-content: flex-start;
  padding-left: 0.714rem;
  padding-right: 2.857rem;
  @media screen and (min-width: 1025px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.withdraw__bank-logo img {
  max-width: 100%;
  max-height: 100%;
}

.withdraw__bank-text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 63.285%;
  padding-right: 0.5rem;

  @media screen and (min-width: 1025px) {
    width: auto;
    padding-right: 0;
  }
}

.withdraw__bank-text {
  font-size: 0.857rem;
  font-weight: 600;
  line-height: 1.285rem;
  letter-spacing: .038rem;

  color: var(--pmbet-gray);

  @media screen and (min-width: 1025px) {
    font-size: 1rem;
    line-height: normal;
    letter-spacing: normal;
  }
}

.withdraw__bank-text:first-child {
  margin-bottom: 0.142rem;

  @media screen and (min-width: 1025px) {
    margin-bottom: 0.285rem;
  }
}

.withdraw__bank-card.active .withdraw__bank-arrow {
  transform: rotate(180deg);
}

.withdraw__bank-arrow {
  position: relative;

  width: 8.696%;

  padding-right: 0.821rem;
  padding-left: 0.821rem;

  transition: all 200ms;

  &::before {
    content: '';
    display: block;
    padding-top: 62.5%;
  }

  svg {
    max-height: 100%;
    max-width: 100%;
    fill: var(--pmbet-gray);
  }
}

.withdraw__bank-arrow-box {
  width: 1.141rem;
  height: 0.64rem;
}

.withdraw__bank-arrow-box svg {
  max-width: 100%;
  max-height: 100%;

}

.withdraw__bank-inner {
  padding-top: 0.657rem;
  padding-right: 0.714rem;
  padding-bottom: 2rem;
  padding-left: 0.714rem;
  color: var(--pmbet-gray);

  @media screen and (min-width: 1025px) {
    padding: 0;
  }
}

.withdraw__bank-inner-content {
  padding-right: 3.65rem;

  @media screen and (min-width: 1025px){
    font-weight: 600;
    font-size: 0.857rem;
    color: var(--pmbet-gray);
    padding-right: 1.285rem;
    padding-left: 1.285rem;
    width: 100%;
    max-width: 62rem;
  }
}

.withdraw__bank-inner-title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;

  margin-bottom: 0.6rem;
}

.withdraw__bank-inner-text {
  font-size: 0.857rem;
  font-weight: 600;
  line-height: 1.314rem;
}

.withdraw__bank-inner-list {
  list-style: '-' inside;
  margin: 0;
  padding: 0;
}

.withdraw__bank-card.active {
  background-color: var(--pmbet-white-5);
}

.withdraw__bank-form {
  display: flex;
  flex-direction: column;

  margin-top: 0.714rem;
  margin-bottom: 1.428rem;

  @media screen and (min-width: 1025px) {
    font-family: 'Poppins', Arial, sans-serif;

    margin-bottom: 0;
    margin-top: 1.285rem;

    .withdraw__bank-input {
      appearance: none;
      border: 0;

      display: flex;
      align-items: center;

      font-size: 0.857rem;
      font-weight: 600;
      color: var(--pmbet-blue-darker);

      height: 2.857rem;
      background-color: var(--pmbet-white-lighter);

      padding-right: 0.857rem;
      padding-left: 0.857rem;
    }

    .withdraw__bank-row_valid {
      width: auto;
    }
  }
}

.withdraw__bank-row {
  position: relative;
  display: flex;
  padding-top: 1.642rem;
  margin-bottom: 1.814rem;

  @media screen and (min-width: 1025px){
    margin-bottom: 0;

    &:not(:last-of-type){
      margin-bottom: 1rem;
    }
  }
}

.withdraw__bank-row.withdraw__bank-row_valid {
  margin-bottom: 2.3rem;
}

.withdraw__bank-form input,
.withdraw__bank-form select {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;

  color: var(--pmbet-gray);

  padding-top: 0.892rem;
  padding-bottom: 0.83rem;
  padding-left: 0.83rem;
  width: 100%;
  min-width: 3rem;
  border: none;
  outline: none;
}

.withdraw__bank-label {
  width: 100%;
}

.withdraw__bank-label-text {
  position: absolute;
  top: 0;
  left: 0;

  color: var(--pmbet-gray);

  font-size: 1rem;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;

  @media screen and (min-width: 1025px){
    font-family: "Poppins", "Arial", sans-serif;
  }
}

.withdraw__bank-row_card {
  width: 71.519%;

  @media screen and (min-width: 1025px) {
    width: 100%;

    justify-content: space-between;
  }
}

.withdraw__bank-line {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 1025px) {
    flex-direction: row;
    justify-content: space-between;

    .withdraw__bank-row {
      margin-bottom: 0;
    }

    .withdraw__bank-row_card {
      width: 7rem;
    }

    .withdraw__bank-row_card .withdraw__bank-label {
      width: 100%;
    }
  }
}

.withdraw__bank-row_card .withdraw__bank-label {
  width: 23.404%;

  @media screen and (min-width: 1025px) {
    width: calc(100% / 4 - 0.428rem);
  }
}

.withdraw__bank-row_card .withdraw__bank-label:not(:last-child) {
  margin-right: auto;

  @media screen and (min-width: 1025px) {
    margin-right: 0;
  }
}

.withdraw__bank-row_card input {
  text-align: center;
  padding-left: 0;

  @media screen and (min-width: 1025px) {
    appearance: none;
    border: 0;

    display: flex;
    align-items: center;

    font-size: 0.857rem;
    font-weight: 600;
    color: var(--pmbet-blue-darker);

    height: 2.857rem;
    background-color: var(--pmbet-white-lighter);

    text-align: center;

    padding-right: 2.214rem;
    padding-left: 2.214rem;
  }
}

.withdraw__bank-row_name {
  width: 71.519%;

  @media screen and (min-width: 1025px) {
    width: 100%;
  }
}

.withdraw__bank-row_valid {
  width: 58.331%;
  justify-content: space-between;
}

.withdraw__bank-select-box {
  width: 48.695%;

  @media screen and (min-width: 1025px) {
    width: 6.785rem;

    &:not(:last-of-type) {
      margin-right: 0.571rem;
    }
  }
}

.withdraw__bank-select {
  display: block;
  padding-left: 0.714rem;
  appearance: none;

  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: calc(100% - 1.071rem);
  background-size: 1.141rem auto;
  background-color: var(--pmbet-white);
  background-image: url("../../images/icon/arrow-bottom.svg");

  @media screen and (min-width: 1025px) {
    border: 0;

    display: flex;
    align-items: center;

    font-size: 0.857rem;
    font-weight: 600;

    color: var(--pmbet-blue-darker);

    height: 2.857rem;

    background-color: var(--pmbet-white-lighter);
    padding-left: 0.857rem;

    padding-right: 2rem;
    background-position: right 0.857rem center;
  }
}

.withdraw__bank-row_submit {
  width: 100%;
  align-items: stretch;

  @media screen and (min-width: 1025px) {
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

.withdraw__bank-row_submit .withdraw__bank-label {
  width: 61.881%;

  @media screen and (min-width: 1025px) {
    width: 100%;
  }
}

.withdraw__bank-submit-btn {
  width: 38.119%;
  border: none;
  outline: none;

  background-color: var(--pmbet-green);
  color: var(--pmbet-white);

  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 1025px) {
    width: auto;

    margin-top: auto;
    margin-left: auto;

    margin-right: -2.071rem;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    min-width: 10.714rem;

    border-radius: 0.142rem;

    padding: 0.714rem;
  }
}

.withdraw__bank-submit-btn:disabled {
  opacity: 50%;
}

.withdraw__bank-drop {
  position: relative;
  display: none;

  padding: 0.857rem 0 0;

  @media screen and (min-width: 1025px) {
    display: flex;
    padding: 0;
    align-items: flex-end;
    margin-left: 7.142rem;
    flex-grow: 1;
  }
}

.withdraw__bank-box {
  @media screen and (min-width: 1025px) {
    padding-right: 1.285rem;
    padding-bottom: 1.285rem;
    padding-left: 1.285rem;
    border-bottom: 1px solid var(--pmbet-black-03);
    margin-bottom: 1.285rem;
  }
}

//.withdraw__bank-drop::before {
//  content: '';
//  position: absolute;
//  bottom: 0;
//  left: 0;
//  right: 0;
//
//  width: 100%;
//  height: 0.142rem;
//
//  background: rgb(227,227,227);
//  background: linear-gradient(180deg, rgba(227,227,227,1) 0%, rgba(227,227,227,1) 50%, rgba(246,246,246,1) 50%, rgba(246,246,246,1) 100%);
//}

.withdraw__bank-drop.active {
  display: block;
}

.withdraw__bank-form_drop {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 1.642rem;
  margin: 0 0.571rem 0 0.714rem;

  @media screen and (min-width: 1025px) {
    padding: 0;
    margin: 0;
    flex-grow: 1;
    align-items: center;
    justify-content: unset;
  }
}

.withdraw__bank-drop-block {
  display: flex;

  width: 83.668%;

  @media screen and (min-width: 1025px) {
    flex-grow: 1;
  }
}

.withdraw__bank-drop-label {
  position: relative;
  display: flex;
  align-items: stretch;

  width: 100%;

  @media screen and (min-width: 1025px) {
    margin-right: 1.285rem;
  }
}

.withdraw__bank-drop-input {
  width: 63.964%;
  padding-top: 0.592rem;
  padding-bottom: 0.592rem;
  padding-left: 0.714rem;
  border: none;
  outline: none;

  color: var(--pmbet-gray);

  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;

  @media screen and (min-width: 1025px) {
    appearance: none;
    display: flex;
    align-items: center;
    font-size: 0.857rem;
    color: var(--pmbet-blue-darker);
    height: 2.857rem;
    background-color: var(--pmbet-white-lighter);
    padding-right: 0.857rem;
    padding-left: 0.857rem;
    padding-top: 0;
    padding-bottom: 0;
    line-height: normal;
    margin-right: 1.285rem;
    width: 100%;
  }
}

.withdraw__bank-btn {
  display: block;

  width: 36.036%;
  border: none;
  outline: none;

  background-color: var(--pmbet-green);
  color: var(--pmbet-white);

  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 1025px) {
    position: relative;
    width: auto;
    line-height: normal;
    appearance: none;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding-right: 0.714rem;
    padding-left: 0.714rem;
    height: 2.857rem;

    border-radius: 0.142rem;

    min-width: 10.714rem;

    color: var(--pmbet-white-dark);

    cursor: pointer;
  }
}

.withdraw__bank-btn:disabled {
  opacity: 50%;
}

.withdraw__bank-drop-icon {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;

  display: inline-flex;

  position: relative;

  height: 1.95rem;
  width: 1.642rem;
  flex-shrink: 0;

  @media screen and (min-width: 1025px) {
    height: 1.428rem;
    width: 1.071rem;
    cursor: pointer;

    svg {
      max-width: 100%;
      max-height: 100%;
    }
  }
}


.withdraw__bank-drop-block .withdraw__bank-label-text {
  transform: translateY(-1.642rem);
}


.withdraw__deposit-body {
  @Media screen and (min-width: 1025px) {
    padding-top: 1.285rem;
    padding-right: 1.285rem;
    padding-left: 1.285rem;
    display: flex;
    height: calc(100% - 3.972rem);
    max-height: 100%;

    .menu-inner {
      width: 12.42rem;
      flex-shrink: 0;
      margin-right: 1.285rem;
      padding: 0;
      flex-direction: column;
      height: 100%;
      max-height: 100%;
      overflow-y: hidden;
    }
  }
}

