.prematchHeader {
  position: relative;
  padding: 0.94rem 0.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--pmbet-white-lightest);

  &.mobile {
    padding: 1.5rem;
  }

  @media screen and (max-width: 1025px) {
    &:after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background-repeat: no-repeat;
      background-image: linear-gradient(to bottom, var(--pmbet-black-03) 50%, var(--pmbet-white-6) 50%);
    }
  }
}

.prematchHeader__back {
  width: 0.5rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prematchHeaderBack__button {
  margin-right: 1rem;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prematchHeaderBack__svg {
  width: 0.5rem;
  height: 1rem;
  object-position: center;
  object-fit: cover;
  fill: var(--pmbet-green);
}

.prematchHeader__info {
  display: flex;
  align-items: center;

  &.mobile {
    width: calc(100% - 1.5rem);
  }
}

.prematchHeader__flag {
  margin-right: 0.5rem;
  width: 1.375rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  overflow: hidden;
}

.prematchHeader__country {
  margin-right: 0.5rem;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--pmbet-gray);
}

.prematchHeader__league {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--pmbet-gray);
}

.prematchHeader__count {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--pmbet-gray);
}

.skeleton {
  .prematchHeader__flag {
    width: 1.375rem;
    height: 1rem;
  }
  
  .prematchHeader__country {
    width: 3rem;
    height: 0.9rem;
  }
  
  .prematchHeader__league {
    width: 5rem;
    height: 0.9rem;
  }
  
  .prematchHeader__count {
    width: 0.9rem;
    height: 0.9rem;
  }

  .skeletonSelect {
    height: 1.625rem;
    background-color: var(--pmbet-white);
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    & > div {
      height: 0.9rem;
    }
  
    & > div:first-child {
      margin-left: 0.3rem;
      width: 5rem;
    }
  
    & > div:last-child {
      width: 0.9rem;
      margin-right: 0.5rem;
    }
  }

  .skeletonMarketType {
    height: 0.9rem;
    width: 2.5rem;
  }
}
